Repository modorie/moida, pull requests merged in 2022-09, with the labels that each got.

#145 [Feat] Portal 컴포넌트 추가
  components/Header/Header.stories.tsx
  components/Modal/Modal.stories.tsx
  components/Modal/Modal.tsx
  components/Modal/Modal.types.ts
  components/Portal/Portal.tsx
  components/Portal/Portal.types.ts
  components/Portal/index.ts
  components/index.ts
Labels: ✨ FEAT

#143 [Feat] Calendar 로직 및 테스트 코드 구현
  .eslintrc
  .gitignore
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.tsx
  .storybook/theme.ts
  package.json
  tsconfig.json
  utils/generateCalendar.test.ts
  utils/generateCalendar.ts
  utils/getTimeFormat.test.ts
  utils/getTimeFormat.ts
  yarn.lock
Labels: ✨ FEAT, 🧪 TEST

#150 [feat] 컴포넌트 인터페이스 수정
  components/Avatar/Avatar.tsx
  components/Avatar/Avatar.types.ts
  components/Badge/Badge.tsx
  components/Badge/Badge.types.ts
  components/ButtonGroup/ButtonGroup.tsx
  components/ButtonGroup/ButtonGroup.types.ts
  components/ButtonGroup/Radio/Radio.tsx
  components/ButtonGroup/Radio/Radio.types.ts
  components/Buttons/Button/Button.tsx
  components/Buttons/Button/Button.types.ts
  components/Buttons/FixedButton/FixedButton.tsx
  components/Buttons/FixedButton/FixedButton.types.ts
  components/Buttons/FloatingButton/FloatingButton.tsx
  components/Buttons/FloatingButton/FloatingButton.types.ts
  components/Header/Header.tsx
  components/Header/Header.types.ts
  components/HelperText/HelperText.tsx
  components/HelperText/HelperText.types.ts
  components/Icon/Icon.tsx
  components/Input/Input.tsx
  components/Input/Input.types.ts
  components/Logo/Logo.tsx
  components/Logo/Logo.types.ts
  components/MapMark/MapMark.tsx
  components/MapMark/MapMark.types.ts
  components/Modal/Modal.tsx
  components/Modal/Modal.types.ts
  components/Navbar/Navbar.tsx
  components/Navbar/Navbar.types.ts
  components/StationInfo/StationInfo.tsx
  components/StationInfo/StationInfo.types.ts
  components/Tabs/Tab/Tab.types.ts
  components/Tabs/Tabs.types.ts
Labels: ✨ FEAT, 🛠 REFAC

#148 [Feat] TimeTable 로직 및 테스트 코드 구현
  utils/generateCalendar.ts
  utils/generateTimeTable.test.ts
  utils/generateTimeTable.ts
  utils/getTimeFormat.test.ts
  utils/getTimeFormat.ts
  utils/range.test.ts
  utils/range.ts
Labels: ✨ FEAT, 🧪 TEST
